* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0%;
}

.bg {
    padding-top: 40px;
    padding-left: 100px;    
    width: 100vw;
    height: 100vw;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 25vw;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.welcome h1 {
    text-align: center;
    font-size: 70px;
}

body {

    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    height: 20vh;
}

.column a {
    display: flex;
    flex-wrap: wrap;
}

.column p {
    color: white;
}

/*//////////////////////
/* SLIDESHOW SECTION* /
//////////////////////*           

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  align-items: center;
  margin: auto;
  
}

.images {
    display: flex;
    justify-content: center;
    max-height: 50vh;
}

.buttons {
    display: flex;
    justify-content: center;
}

.w3-buttons {
    color:#182848;
    font-size: 15px;
}
/*//////////////////
*/
@font-face {
    src: url(./NewWaltDisneyUi-8YdA.ttf);
    font-family: walter;
}

h1 {
    font-family: walter;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 50vw;
}