* {
    color: white;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0%;
}

.bg {
    padding-top: 40px;
    padding-left: 100px;    
    width: 100vw;
    height: 100vw;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vw;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.welcome h1 {
    text-align: center;
    font-size: 71px;
}




#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    height: 20vh;
}

.column a {
    display: flex;
    flex-wrap: wrap;
}

.column p {
    color: white;
}

/*//////////////////////
/* SLIDESHOW SECTION* /
//////////////////////*           

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



#ak-icon:hover {
    width: 220px;
    transition: 1s;
    opacity: 70%;
}

#ca-icon:hover {
    width: 320px;
    transition: 1s;
    opacity: 70%;
}

#hws-icon:hover {
    width: 320px;
    transition: 1s;
    opacity: 70%;
}

#mk-icon:hover {
    width: 320px;
    transition: 1s;
    opacity: 70%;
}

#dl-icon:hover {
    width: 340px;
    transition: 1s;
    opacity: 70%;
}

#ec-icon:hover {
    width: 270px;
    transition: 1s;
    opacity: 70%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}
section a {
    padding: 60px;
}

@font-face {
    src: url(./NewWaltDisneyUi-8YdA.ttf);
    font-family: walter;
}

h1 {
    font-family: walter;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}