* {
    color: white;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
}

.bg {
    padding-top: 40px;
    padding-left: 100px;    
    width: 100vw;
    height: 100vw;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vw;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.welcome h1 {
    text-align: center;
    font-size: 70px;
}




#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    height: 20vh;
}

.column a {
    display: flex;
    flex-wrap: wrap;
}

.column p {
    color: white;
}





#ak-icon:hover {
    width: 220px;
    transition: 1s;
    opacity: 70%;
}

#ca-icon:hover {
    width: 320px;
    transition: 1s;
    opacity: 70%;
}

#hws-icon:hover {
    width: 320px;
    transition: 1s;
    opacity: 70%;
}

#mk-icon:hover {
    width: 320px;
    transition: 1s;
    opacity: 70%;
}

#dl-icon:hover {
    width: 340px;
    transition: 1s;
    opacity: 70%;
}

#ec-icon:hover {
    width: 270px;
    transition: 1s;
    opacity: 70%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}
section a {
    padding: 60px;
}

@font-face {
    src: url(./NewWaltDisneyUi-8YdA.ttf);
    font-family: walter;
}

h1 {
    font-family: walter;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}