.bg {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    width: 100vw;
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #182848;
    color: white;
}
header h1 {
    font-size: 90px;
}
header a {
    color: white;
}
header a :hover{
    cursor: grab;
    color: white;
}
main {
    display: flex;
    justify-content: center;
}


@font-face {
    src: url(./NewWaltDisneyUi-8YdA.ttf);
    font-family: walter;
}

h1 {
    font-family: walter;
}